# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://votre-projet.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=votre-cle-anon-supabase

# Montant standard de la cotisation mensuelle
NEXT_PUBLIC_DEFAULT_COTISATION_AMOUNT=2000
NEXT_PUBLIC_CURRENCY=FCFA
NEXT_PUBLIC_VILLAGE_NAME="AJAHB"
